In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [0]:
spark= (SparkSession.builder
        .appName('Data_Cleaning_2')
        .getOrCreate())

###Reading file from CSV from Volume

In [0]:

df= ( spark.read
     .format('csv')
     .option('header','true')
     .option('delimiter',',')
     .option('timestamps','true')
     .load('/Volumes/databricks_catalog/default/default_volume1/Customer Call List_data_cleaning.csv')
     )
display(df)
#df.show(n=10, truncate=False)

CustomerID,First name,last -name,email,PhONe number,gender,address,Amount,Paying customer**,paid DATE,Do not coNTact,Not_Useful_Column
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE
1003,Walter,/White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE
1004,Dwight,Schrute /,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE
1008,Sherlock,Holmes,n/a,876|678|3469,UNKnOWN,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE
1009,Gandalf,null,abc_34@yahoo.com,N/a,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE
1011,Samwise,Gamgee #,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1012,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,unknown,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE
1014,Leslie,Knope_,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE
1015,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1017,Michael,Scott**,jhfbg_cxs.76@outlook.com,123/643/9775,UN,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE
1018,Clark,Kent -,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE
1019,Creed,Braton,null,N/a,m,N/a,"3,32,212",N/a,4-21 2020,Yes,TRUE
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE
1021,Samwise,Gamgee,None,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1022,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,unknown,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1023,Don,Draper,Not available,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE
1025,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE
1026,Ron,_,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,UN,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE
1028,Clark,Kent##,Not provided,7066950392,male,"3498 Super Lane,California,us",-,None,n/a,n/a,TRUE
1029,Creed,….,jshd_776@outlook.com,N/a,m,N/a,"3,32,212",N/a,4-21 2020,Yes,TRUE
1030,Anakin,Skywalker-,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE

In [0]:
df.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |--  First name : string (nullable = true)
 |-- last -name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- PhONe   number    : string (nullable = true)
 |-- gender: string (nullable = true)
 |-- address: string (nullable = true)
 |--  Amount: string (nullable = true)
 |-- Paying customer**: string (nullable = true)
 |-- paid DATE: string (nullable = true)
 |-- Do not coNTact: string (nullable = true)
 |-- Not_Useful_Column: string (nullable = true)

###standardizing the column names

In [0]:
import re
nc_list=[]
for c in df.columns:
  nc=c.strip()
  nc=re.sub(r'[-*/]',"",nc)
  nc=re.sub(r'[^_0-9a-zA-Z\s]',"",nc)
  nc=nc.capitalize()
  nc=re.sub(r'\s+','_',nc)
  df=df.withColumnRenamed(c,nc)
display(df)

Customerid,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE
1003,Walter,/White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE
1004,Dwight,Schrute /,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE
1008,Sherlock,Holmes,n/a,876|678|3469,UNKnOWN,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE
1009,Gandalf,null,abc_34@yahoo.com,N/a,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE
1011,Samwise,Gamgee #,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1012,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,unknown,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE
1014,Leslie,Knope_,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE
1015,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1017,Michael,Scott**,jhfbg_cxs.76@outlook.com,123/643/9775,UN,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE
1018,Clark,Kent -,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE
1019,Creed,Braton,null,N/a,m,N/a,"3,32,212",N/a,4-21 2020,Yes,TRUE
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE
1021,Samwise,Gamgee,None,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1022,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,unknown,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1023,Don,Draper,Not available,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE
1025,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE
1026,Ron,_,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,UN,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE
1028,Clark,Kent##,Not provided,7066950392,male,"3498 Super Lane,California,us",-,None,n/a,n/a,TRUE
1029,Creed,….,jshd_776@outlook.com,N/a,m,N/a,"3,32,212",N/a,4-21 2020,Yes,TRUE
1030,Anakin,Skywalker-,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE

##Check null column count dataset

In [0]:
cloumn_list=[ sum(col(c).isNull().cast('int')).alias(c) for c in df.columns]

df_null_counts=df.agg(*cloumn_list)
display(df_null_counts)

Customerid,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
0,0,1,0,3,0,0,0,0,0,5,0

In [0]:
display(df.describe())

summary,Customerid,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
count,32,32,31,32,29,32,32,32,32,32,27,32
mean,1016.125,null,null,null,7.066950392E9,null,null,null,null,null,null,null
stddev,8.972179222463181,null,null,null,0.0,null,null,null,null,null,null,null
min,1001,Abed,Winger,ASDabc_34@yahoo.com,123-543-2345,F,"1209 South Street,Candya,US",-,N,02-20-1913,N,FALSE
max,1031,Walter,….,null,N/a,unknown,N/a,"7,43,566",Yes,n/a,n/a,TRUE

####trim spaces,remove non_braking sapces and replace NA with proper null values

In [0]:
na_list=['na','Na','N/a','None','UNKnOWN','unknown','Null','null','N/A','n/a','NaN','nan','Not Available','Not available','Not provided','not provided','Not','UN','-']

for c,t in df.dtypes: 
  if t=='string':
    df=df.withColumn(c,trim(col(c)))
    df=df.withColumn(c,regexp_replace(col(c),r'^\s+',' '))
    df=df.withColumn(c,when(col(c).isin(na_list),None).otherwise(col(c)))
df.show(n=20,truncate=False)
df.printSchema()
display(df)

+----------+----------+-----------+-------------------------+------------+------+---------------------------------------+---------+---------------+-----------+--------------+-----------------+
|Customerid|First_name|Last_name  |Email                    |Phone_number|Gender|Address                                |Amount   |Paying_customer|Paid_date  |Do_not_contact|Not_useful_column|
+----------+----------+-----------+-------------------------+------------+------+---------------------------------------+---------+---------------+-----------+--------------+-----------------+
|1001      |Frodo     |Baggins    |abc_34SHGDG@gmail.com    |123-545-5421|f     |123 Shire Lane, Shire,us               |$ 2003   |Yes            |03/30/1910 |No            |TRUE             |
|1002      |Abed      |Nadir      |abc_34jsjsh@gmail.com    |123/643/9775|m     |93 West Main Street,west bengal,India  |-3,30,300|No             |03/30/1911 |Yes           |FALSE            |
|1003      |Walter    |/White     |NASc_34@gmail.com        |7066950392  |F     |298 Drugs Driveway,chennia,India       |-4,36,300|N              |03/23-1912 |NULL          |TRUE             |
|1004      |Dwight    |Schrute /  |SHSYbc_34@gmail.com      |123-543-2345|male  |980 Paper Avenue, Pennsylvania,US 18503|$ 3802   |Yes            |02-20-1913 |Y             |TRUE             |
|1005      |Jon       |Snow       |abc_34@gmail.com         |876|678|3469|Male  |123 Dragons Road, maharasthara,India   |5,66,890 |Y              |03 30 1914 |No            |TRUE             |
|1006      |Ron       |Swanson    |abSNJSc_34@gmail.com     |304-762-2467|F     |768 City Parkway, Hawaii,US            |$ 3802   |Yes            |03/30/1915 |Yes           |TRUE             |
|1007      |Jeff      |Winger     |abc_34_TRTR@gmail.com    |NULL        |M     |1209 South Street,Candya,US            |- $ 3803 |No             |06-12-2002 |No            |FALSE            |
|1008      |Sherlock  |Holmes     |NULL                     |876|678|3469|NULL  |98 Clue Drive,New York ,US             |- $ 3804 |N              |07-12-2002 |No            |FALSE            |
|1009      |Gandalf   |NULL       |abc_34@yahoo.com         |NULL        |FEMALE|123 Middle Earth, US                   |$ 3805   |Yes            |08-12-2002 |NULL          |FALSE            |
|1010      |Peter     |Parker     |abc_3433@yahoo.com       |123-545-5421|Female|25th Main Street, New York,US 18503    |$ 3806   |Yes            |09-12 2002 |No            |TRUE             |
|1011      |Samwise   |Gamgee #   |abc_34gdtd@yahoo.com     |NULL        |male  |612 Shire Lane, Shire, US              |$ 3807   |Yes            |10-12-2002 |No            |TRUE             |
|1012      |Harry     |...Potter  |ASDabc_34@yahoo.com      |7066950392  |NULL  |2394 Hogwarts Avenue,California,us     |$ 2232   |Y              |11 12-2002 |NULL          |TRUE             |
|1013      |Don       |Draper     |abc_344dde@yahoo.com     |123-543-2345|Male  |2039 Main Street, Oiddisha India       |7,43,566 |Yes            |12-08-2002 |N             |FALSE            |
|1014      |Leslie    |Knope_     |hduf.hdyo_475@outlook.com|876|678|3469|Female|343 City Parkway, Rajputh india 534281 |2,34,567 |Yes            |08 08-2002 |No            |FALSE            |
|1015      |Toby      |Flenderson_|nshd_47@outlook.com      |304-762-2467|F     |214 HR Avenue,California,US 18590      |- $1941  |N              |10-08-2002 |No            |FALSE            |
|1016      |Ron       |Weasley    |jshd_ddh_776@outlook.com |123-545-5421|m     |2395 Hogwarts Avenue,New Jersey, us    |- $1000  |No             |21_ 08_2002|N             |FALSE            |
|1017      |Michael   |Scott**    |jhfbg_cxs.76@outlook.com |123/643/9775|NULL  |121 Paper Avenue,Rajisthan India       |5,67,433 |Yes            |4-21-2018  |No            |FALSE            |
|1018      |Clark     |Kent -     |jm.mska_776@outlook.com  |7066950392  |male  |3498 Super Lane,California,us          |$ 2311   |Y              |4-21-2019  |NULL          |TRUE             |
|1019      |Creed     |Braton     |NULL                     |NULL        |m     |NULL                                   |3,32,212 |NULL           |4-21 2020  |Yes           |TRUE             |
|1020      |Anakin    |Skywalker  |jshd_ddh_776@outlook.com |876|678|3469|F     |910 Tatooine Road,New Jersey,us        |$ 4761   |Yes            |4/21-2021  |N             |TRUE             |
+----------+----------+-----------+-------------------------+------------+------+---------------------------------------+---------+---------------+-----------+--------------+-----------------+
only showing top 20 rows
root
 |-- Customerid: string (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)

Customerid,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE
1003,Walter,/White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE
1004,Dwight,Schrute /,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE
1009,Gandalf,null,abc_34@yahoo.com,null,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE
1011,Samwise,Gamgee #,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1012,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE
1014,Leslie,Knope_,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE
1015,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1017,Michael,Scott**,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE
1018,Clark,Kent -,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE
1019,Creed,Braton,null,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE
1021,Samwise,Gamgee,null,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1022,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE
1025,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE
1026,Ron,_,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE
1028,Clark,Kent##,null,7066950392,male,"3498 Super Lane,California,us",null,null,null,null,TRUE
1029,Creed,….,jshd_776@outlook.com,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1030,Anakin,Skywalker-,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE

In [0]:
cloumn_list=[ sum(col(c).isNull().cast('int')).alias(c) for c in df.columns]

df_null_counts=df.agg(*cloumn_list)
display(df_null_counts)

Customerid,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
0,0,1,5,6,5,2,1,3,1,6,0

###Cleaning customer id column

In [0]:
df=df.withColumnRenamed('Customerid','Customer_id')
df= (df.withColumn('Customer_id',when(col('Customer_id').rlike('[0-9]+'),col('Customer_id').cast('long'))
                                     .otherwise(col('Customer_id').cast('String'))))
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE
1003,Walter,/White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE
1004,Dwight,Schrute /,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE
1009,Gandalf,null,abc_34@yahoo.com,null,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE
1011,Samwise,Gamgee #,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1012,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE
1014,Leslie,Knope_,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE
1015,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1017,Michael,Scott**,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE
1018,Clark,Kent -,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE
1019,Creed,Braton,null,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE
1021,Samwise,Gamgee,null,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1022,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE
1025,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE
1026,Ron,_,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE
1028,Clark,Kent##,null,7066950392,male,"3498 Super Lane,California,us",null,null,null,null,TRUE
1029,Creed,….,jshd_776@outlook.com,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1030,Anakin,Skywalker-,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)

###Cleaning on firstname cloumn

In [0]:
df=df.withColumn('First_name',trim(col('First_name')))
#apply regexp to remove all non-alphabetic characters
df=df.withColumn('First_name',regexp_replace(col('First_name'),r'[^a-zA-Z]',''))

#check if the column contains any non alphabetic characters fill with null
df= (df.withColumn('First_name',when(col('First_name').rlike('[a-zA-Z]'),col('First_name'))
                                .otherwise(lit(None))))
#define data type
df=df.withColumn('First_name',col('First_name').cast('string'))
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE
1003,Walter,/White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE
1004,Dwight,Schrute /,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE
1009,Gandalf,null,abc_34@yahoo.com,null,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE
1011,Samwise,Gamgee #,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1012,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE
1014,Leslie,Knope_,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE
1015,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1017,Michael,Scott**,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE
1018,Clark,Kent -,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE
1019,Creed,Braton,null,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE
1021,Samwise,Gamgee,null,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1022,Harry,...Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE
1025,Toby,Flenderson_,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE
1026,Ron,_,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE
1028,Clark,Kent##,null,7066950392,male,"3498 Super Lane,California,us",null,null,null,null,TRUE
1029,Creed,….,jshd_776@outlook.com,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1030,Anakin,Skywalker-,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)

####Cleaning Last Name column

In [0]:
#trim leading and trailing spaces
df= df.withColumn('Last_name',trim(col('Last_name')))
#apply regexp to remove all non-alphabetic characters
df= df.withColumn('Last_name',regexp_replace(col('Last_name'),r'[^a-zA-Z]',''))
#check if the column contains any non alphabetic characters fill with null
df= (df.withColumn('Last_name',when(col('Last_name').rlike('[a-zA-Z]'),col('Last_name'))
                               .otherwise(lit(None))))
#define data type
df= df.withColumn('Last_name',col('Last_name').cast('string'))
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE
1003,Walter,White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE
1009,Gandalf,null,abc_34@yahoo.com,null,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE
1019,Creed,Braton,null,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE
1021,Samwise,Gamgee,null,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE
1028,Clark,Kent,null,7066950392,male,"3498 Super Lane,California,us",null,null,null,null,TRUE
1029,Creed,null,jshd_776@outlook.com,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)

####Full name column creation

In [0]:
df=df.withColumn('Full_name',trim(concat(coalesce(col('First_name'),coalesce(lit(''),col('First_name'))),lit(' '),
                                            coalesce(col('Last_name'),coalesce(lit(''),col('Last_name')))))
                         )
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column,Full_name
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE,Frodo Baggins
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE,Abed Nadir
1003,Walter,White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE,Walter White
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE,Dwight Schrute
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE,Jon Snow
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE,Ron Swanson
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE,Jeff Winger
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE,Sherlock Holmes
1009,Gandalf,null,abc_34@yahoo.com,null,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE,Gandalf
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE,Peter Parker
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron Weasley
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE,Clark Kent
1019,Creed,Braton,null,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed Braton
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE,Anakin walkerni
1021,Samwise,Gamgee,null,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott
1028,Clark,Kent,null,7066950392,male,"3498 Super Lane,California,us",null,null,null,null,TRUE,Clark Kent
1029,Creed,null,jshd_776@outlook.com,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE,Anakin Skya

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)

####Email column cleanup

In [0]:
df=df.withColumn('Email',trim(col('Email')))
df=(df.withColumn('Email',when(col('Email').rlike('[0-9a-zA-Z._]+@[0-9a-zA-Z-]+.[0-9a-zA-Z.-]'),col('Email'))
                           .otherwise(lit(None))))
df=df.withColumn('Email',col('Email').cast('string'))
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column,Full_name
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,f,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE,Frodo Baggins
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,m,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE,Abed Nadir
1003,Walter,White,NASc_34@gmail.com,7066950392,F,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE,Walter White
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE,Dwight Schrute
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE,Jon Snow
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,F,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE,Ron Swanson
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,M,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE,Jeff Winger
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE,Sherlock Holmes
1009,Gandalf,null,abc_34@yahoo.com,null,FEMALE,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE,Gandalf
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE,Peter Parker
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron Weasley
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE,Clark Kent
1019,Creed,Braton,null,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed Braton
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE,Anakin walkerni
1021,Samwise,Gamgee,null,null,male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,F,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,m,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott
1028,Clark,Kent,null,7066950392,male,"3498 Super Lane,California,us",null,null,null,null,TRUE,Clark Kent
1029,Creed,null,jshd_776@outlook.com,null,m,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,F,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,M,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE,Anakin Skya

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)

#### Phone Column cleanup

In [0]:
# df=df.withColumn('Phone_number',trim(col('Phone_number')))
# df=df.withColumn('Phone_number',regexp_replace(col('Phone_number'),r'[^0-9]',''))

# df= (df.withColumn('Phone_number',when((col('Phone_number').rlike('[0-9]')) & 
#                                        (length(col('Phone_number'))==10),col('Phone_number'))
#                                        .otherwise(lit(None))))
                                       
# display(df)
# df.printSchema()

####Gender Column Cleanup

In [0]:

df=df.withColumn('Gender',trim(col('Gender')))
df= (df.withColumn('Gender',when(lower(col('Gender')).isin(['m','male']),'Male')
                   .when(lower(col('Gender')).isin(['f','female']),'Female')
                   .when(lower(col('Gender')).isin(['o','other']),'Other')
                   .otherwise(None)
                   ))
df=df.withColumn('Gender',col('Gender').cast('string'))
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column,Full_name
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,Female,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE,Frodo Baggins
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,Male,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE,Abed Nadir
1003,Walter,White,NASc_34@gmail.com,7066950392,Female,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE,Walter White
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,Male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE,Dwight Schrute
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE,Jon Snow
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,Female,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE,Ron Swanson
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE,Jeff Winger
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE,Sherlock Holmes
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE,Gandalf
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE,Peter Parker
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron Weasley
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,Male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE,Clark Kent
1019,Creed,Braton,null,null,Male,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed Braton
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE,Anakin walkerni
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott
1028,Clark,Kent,null,7066950392,Male,"3498 Super Lane,California,us",null,null,null,null,TRUE,Clark Kent
1029,Creed,null,jshd_776@outlook.com,null,Male,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE,Anakin Skya

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)

###Addres column cleanup.Creating new states,country columns

In [0]:
from pyspark.sql.functions import col, trim, split, length, regexp_replace, when

#Address cloumn
df = df.withColumn(
    'Address',
    trim(col('Address'))
)

#Country Column
df = df.withColumn('country_clean1',when(size(split(col('Address'),','))>2,
                                            split(col('Address'), ',').getItem(2))
                                           .otherwise(
                                           split(col('Address'), ',').getItem(1)
                                          )
                          )

df=df.withColumn('country_clean2',split(trim(
                                            regexp_replace(
                                                trim(col('country_clean1')),
                                                r'[^\sa-zA-Z]','')),
                                                ' ')
                                 )
df=df.withColumn('Country',when(size(col('country_clean2'))==1,
                                                initcap(col('country_clean2').getItem(0)))
                                 .otherwise(initcap(col('country_clean2').getItem(1))
                                 )
                                ).drop(col('country_clean1'),col('country_clean2'))

display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,Female,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE,Frodo Baggins,Us
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,Male,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE,Abed Nadir,India
1003,Walter,White,NASc_34@gmail.com,7066950392,Female,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE,Walter White,India
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,Male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE,Dwight Schrute,Us
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE,Jon Snow,India
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,Female,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE,Ron Swanson,Us
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE,Jeff Winger,Us
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE,Sherlock Holmes,Us
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE,Gandalf,Us
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE,Peter Parker,Us
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee,Us
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter,Us
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper,India
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope,India
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson,Us
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron Weasley,Us
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott,India
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,Male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE,Clark Kent,Us
1019,Creed,Braton,null,null,Male,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed Braton,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker,Us
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE,Anakin walkerni,Us
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee,Us
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter,Us
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper,India
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope,India
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson,Us
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron,Us
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott,India
1028,Clark,Kent,null,7066950392,Male,"3498 Super Lane,California,us",null,null,null,null,TRUE,Clark Kent,Us
1029,Creed,null,jshd_776@outlook.com,null,Male,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed,null
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker,Us
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE,Anakin Skya,Us

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)

In [0]:
#states Column

df= (df.withColumn('state_clean1',initcap(when (size(split(trim(col('Address')),','))>2,
                                              split(trim(col('Address')),',')[1])
                                      .otherwise(split(trim(
                                            regexp_replace(
                                                trim(split(trim(col('Address')),',')[1]),
                                                r'[^\sa-zA-Z]','')),
                                                ' ')[0])
                                               )
                        )
           )
df=df.withColumn('State',initcap(when(col('state_clean1')==col('Country'),None)
                                             .otherwise(col('state_clean1'))
                                             )
                             )

display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paying_customer,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country,state_clean1,State
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,Female,"123 Shire Lane, Shire,us",$ 2003,Yes,03/30/1910,No,TRUE,Frodo Baggins,Us,Shire,Shire
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,Male,"93 West Main Street,west bengal,India","-3,30,300",No,03/30/1911,Yes,FALSE,Abed Nadir,India,West Bengal,West Bengal
1003,Walter,White,NASc_34@gmail.com,7066950392,Female,"298 Drugs Driveway,chennia,India","-4,36,300",N,03/23-1912,null,TRUE,Walter White,India,Chennia,Chennia
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,Male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,Yes,02-20-1913,Y,TRUE,Dwight Schrute,Us,Pennsylvania,Pennsylvania
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",Y,03 30 1914,No,TRUE,Jon Snow,India,Maharasthara,Maharasthara
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,Female,"768 City Parkway, Hawaii,US",$ 3802,Yes,03/30/1915,Yes,TRUE,Ron Swanson,Us,Hawaii,Hawaii
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",- $ 3803,No,06-12-2002,No,FALSE,Jeff Winger,Us,Candya,Candya
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,N,07-12-2002,No,FALSE,Sherlock Holmes,Us,New York,New York
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$ 3805,Yes,08-12-2002,null,FALSE,Gandalf,Us,Us,null
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,Yes,09-12 2002,No,TRUE,Peter Parker,Us,New York,New York
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter,Us,California,California
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper,India,Oiddisha,Oiddisha
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US 18590",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron Weasley,Us,New Jersey,New Jersey
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,Male,"3498 Super Lane,California,us",$ 2311,Y,4-21-2019,null,TRUE,Clark Kent,Us,California,California
1019,Creed,Braton,null,null,Male,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed Braton,null,null,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us",$1111,Yes,4 21-2022,N,TRUE,Anakin walkerni,Us,Tatooine,Tatooine
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$ 3807,Yes,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,Y,11 12-2002,null,TRUE,Harry Potter,Us,California,California
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",Yes,12-08-2002,N,FALSE,Don Draper,India,Oiddisha,Oiddisha
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",Yes,08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US",- $1941,N,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,No,21_ 08_2002,N,FALSE,Ron,Us,New Jersey,New Jersey
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",Yes,4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan
1028,Clark,Kent,null,7066950392,Male,"3498 Super Lane,California,us",null,null,null,null,TRUE,Clark Kent,Us,California,California
1029,Creed,null,jshd_776@outlook.com,null,Male,null,"3,32,212",null,4-21 2020,Yes,TRUE,Creed,null,null,null
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,Yes,4/21-2021,N,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,Yes,4 21-2022,N,TRUE,Anakin Skya,Us,Tatooine,Tatooine

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paying_customer: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)
 |-- state_clean1: string (nullable = true)
 |-- State: string (nullable = true)

###Paying_customer and Do_not_contact  column clean up

In [0]:
df= (df.withColumn('Paying_coustomer_status',when(lower(col('Paying_customer')).isin(['yes','y']),'Yes')
                                           .when(lower(col('Paying_customer')).isin(['no','n']),'No')
                                            .otherwise(None))
                                            .drop(col('Paying_customer'))
                                        )
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country,state_clean1,State,Paying_coustomer_status
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,Female,"123 Shire Lane, Shire,us",$ 2003,03/30/1910,No,TRUE,Frodo Baggins,Us,Shire,Shire,Yes
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,Male,"93 West Main Street,west bengal,India","-3,30,300",03/30/1911,Yes,FALSE,Abed Nadir,India,West Bengal,West Bengal,No
1003,Walter,White,NASc_34@gmail.com,7066950392,Female,"298 Drugs Driveway,chennia,India","-4,36,300",03/23-1912,null,TRUE,Walter White,India,Chennia,Chennia,No
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,Male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,02-20-1913,Y,TRUE,Dwight Schrute,Us,Pennsylvania,Pennsylvania,Yes
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",03 30 1914,No,TRUE,Jon Snow,India,Maharasthara,Maharasthara,Yes
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,Female,"768 City Parkway, Hawaii,US",$ 3802,03/30/1915,Yes,TRUE,Ron Swanson,Us,Hawaii,Hawaii,Yes
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",- $ 3803,06-12-2002,No,FALSE,Jeff Winger,Us,Candya,Candya,No
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,07-12-2002,No,FALSE,Sherlock Holmes,Us,New York,New York,No
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$ 3805,08-12-2002,null,FALSE,Gandalf,Us,Us,null,Yes
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,09-12 2002,No,TRUE,Peter Parker,Us,New York,New York,Yes
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$ 3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",12-08-2002,N,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US 18590",- $1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,21_ 08_2002,N,FALSE,Ron Weasley,Us,New Jersey,New Jersey,No
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,Male,"3498 Super Lane,California,us",$ 2311,4-21-2019,null,TRUE,Clark Kent,Us,California,California,Yes
1019,Creed,Braton,null,null,Male,null,"3,32,212",4-21 2020,Yes,TRUE,Creed Braton,null,null,null,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,4/21-2021,N,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us",$1111,4 21-2022,N,TRUE,Anakin walkerni,Us,Tatooine,Tatooine,Yes
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$ 3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",12-08-2002,N,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US",- $1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,21_ 08_2002,N,FALSE,Ron,Us,New Jersey,New Jersey,No
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes
1028,Clark,Kent,null,7066950392,Male,"3498 Super Lane,California,us",null,null,null,TRUE,Clark Kent,Us,California,California,null
1029,Creed,null,jshd_776@outlook.com,null,Male,null,"3,32,212",4-21 2020,Yes,TRUE,Creed,null,null,null,null
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,4/21-2021,N,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,4 21-2022,N,TRUE,Anakin Skya,Us,Tatooine,Tatooine,Yes

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)
 |-- state_clean1: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Paying_coustomer_status: string (nullable = true)

In [0]:
df= (df.withColumn('Do_not_contact',when(lower(col('Do_not_contact')).isin(['yes','y']),'Yes')
                                           .when(lower(col('Do_not_contact')).isin(['no','n']),'No')
                                            .otherwise(None))
                                        )
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country,state_clean1,State,Paying_coustomer_status
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,Female,"123 Shire Lane, Shire,us",$ 2003,03/30/1910,No,TRUE,Frodo Baggins,Us,Shire,Shire,Yes
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,Male,"93 West Main Street,west bengal,India","-3,30,300",03/30/1911,Yes,FALSE,Abed Nadir,India,West Bengal,West Bengal,No
1003,Walter,White,NASc_34@gmail.com,7066950392,Female,"298 Drugs Driveway,chennia,India","-4,36,300",03/23-1912,null,TRUE,Walter White,India,Chennia,Chennia,No
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,Male,"980 Paper Avenue, Pennsylvania,US 18503",$ 3802,02-20-1913,Yes,TRUE,Dwight Schrute,Us,Pennsylvania,Pennsylvania,Yes
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India","5,66,890",03 30 1914,No,TRUE,Jon Snow,India,Maharasthara,Maharasthara,Yes
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,Female,"768 City Parkway, Hawaii,US",$ 3802,03/30/1915,Yes,TRUE,Ron Swanson,Us,Hawaii,Hawaii,Yes
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",- $ 3803,06-12-2002,No,FALSE,Jeff Winger,Us,Candya,Candya,No
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",- $ 3804,07-12-2002,No,FALSE,Sherlock Holmes,Us,New York,New York,No
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$ 3805,08-12-2002,null,FALSE,Gandalf,Us,Us,null,Yes
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$ 3806,09-12 2002,No,TRUE,Peter Parker,Us,New York,New York,Yes
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$ 3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India","7,43,566",12-08-2002,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281","2,34,567",08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US 18590",- $1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,21_ 08_2002,No,FALSE,Ron Weasley,Us,New Jersey,New Jersey,No
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India","5,67,433",4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,Male,"3498 Super Lane,California,us",$ 2311,4-21-2019,null,TRUE,Clark Kent,Us,California,California,Yes
1019,Creed,Braton,null,null,Male,null,"3,32,212",4-21 2020,Yes,TRUE,Creed Braton,null,null,null,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,4/21-2021,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us",$1111,4 21-2022,No,TRUE,Anakin walkerni,Us,Tatooine,Tatooine,Yes
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$ 3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$ 2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281","7,43,566",12-08-2002,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india","2,34,567",08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US",- $1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",- $1000,21_ 08_2002,No,FALSE,Ron,Us,New Jersey,New Jersey,No
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271","5,67,433",4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes
1028,Clark,Kent,null,7066950392,Male,"3498 Super Lane,California,us",null,null,null,TRUE,Clark Kent,Us,California,California,null
1029,Creed,null,jshd_776@outlook.com,null,Male,null,"3,32,212",4-21 2020,Yes,TRUE,Creed,null,null,null,null
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$ 4761,4/21-2021,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,4 21-2022,No,TRUE,Anakin Skya,Us,Tatooine,Tatooine,Yes

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)
 |-- state_clean1: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Paying_coustomer_status: string (nullable = true)

####Dealing with amount cloumn creating Amount_dollars,Amount_RS

In [0]:
df=df.withColumn('Amount',trim(regexp_replace(col('Amount'),r'[^\d$]','')))

df= (df.withColumn('Amount_dollars',when(col('country')=='India',
                                                    ceil(round((col('Amount').cast('Integer'))/85,2)))
                                              .when(col('country')=='Us',
                                                    regexp_replace(col('Amount'),r'[^\d]','').cast('Integer'))
                                              .otherwise(None)
                                              ))
df= (df.withColumn('Amount_RS',when(col('country')=='Us',
                                                    (regexp_replace(col('Amount'),r'[^\d]','')*85).cast('long'))
                                              .when(col('country')=='India',
                                                    regexp_replace(col('Amount'),r'[^\d]','').cast('long'))
                                              .otherwise(None)
                                              ))
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country,state_clean1,State,Paying_coustomer_status,Amount_dollars,Amount_RS
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,123-545-5421,Female,"123 Shire Lane, Shire,us",$2003,03/30/1910,No,TRUE,Frodo Baggins,Us,Shire,Shire,Yes,2003,170255
1002,Abed,Nadir,abc_34jsjsh@gmail.com,123/643/9775,Male,"93 West Main Street,west bengal,India",330300,03/30/1911,Yes,FALSE,Abed Nadir,India,West Bengal,West Bengal,No,3886,330300
1003,Walter,White,NASc_34@gmail.com,7066950392,Female,"298 Drugs Driveway,chennia,India",436300,03/23-1912,null,TRUE,Walter White,India,Chennia,Chennia,No,5133,436300
1004,Dwight,Schrute,SHSYbc_34@gmail.com,123-543-2345,Male,"980 Paper Avenue, Pennsylvania,US 18503",$3802,02-20-1913,Yes,TRUE,Dwight Schrute,Us,Pennsylvania,Pennsylvania,Yes,3802,323170
1005,Jon,Snow,abc_34@gmail.com,876|678|3469,Male,"123 Dragons Road, maharasthara,India",566890,03 30 1914,No,TRUE,Jon Snow,India,Maharasthara,Maharasthara,Yes,6670,566890
1006,Ron,Swanson,abSNJSc_34@gmail.com,304-762-2467,Female,"768 City Parkway, Hawaii,US",$3802,03/30/1915,Yes,TRUE,Ron Swanson,Us,Hawaii,Hawaii,Yes,3802,323170
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",$3803,06-12-2002,No,FALSE,Jeff Winger,Us,Candya,Candya,No,3803,323255
1008,Sherlock,Holmes,null,876|678|3469,null,"98 Clue Drive,New York ,US",$3804,07-12-2002,No,FALSE,Sherlock Holmes,Us,New York,New York,No,3804,323340
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$3805,08-12-2002,null,FALSE,Gandalf,Us,Us,null,Yes,3805,323425
1010,Peter,Parker,abc_3433@yahoo.com,123-545-5421,Female,"25th Main Street, New York,US 18503",$3806,09-12 2002,No,TRUE,Peter Parker,Us,New York,New York,Yes,3806,323510
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595
1012,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720
1013,Don,Draper,abc_344dde@yahoo.com,123-543-2345,Male,"2039 Main Street, Oiddisha India",743566,12-08-2002,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india 534281",234567,08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567
1015,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US 18590",$1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985
1016,Ron,Weasley,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,21_ 08_2002,No,FALSE,Ron Weasley,Us,New Jersey,New Jersey,No,1000,85000
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India",567433,4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433
1018,Clark,Kent,jm.mska_776@outlook.com,7066950392,Male,"3498 Super Lane,California,us",$2311,4-21-2019,null,TRUE,Clark Kent,Us,California,California,Yes,2311,196435
1019,Creed,Braton,null,null,Male,null,332212,4-21 2020,Yes,TRUE,Creed Braton,null,null,null,null,null,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$4761,4/21-2021,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us",$1111,4 21-2022,No,TRUE,Anakin walkerni,Us,Tatooine,Tatooine,Yes,1111,94435
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595
1022,Harry,Potter,ASDabc_34@yahoo.com,7066950392,null,"2394 Hogwarts Avenue,California,us",$2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720
1023,Don,Draper,null,123-543-2345,Male,"2039 Main Street, Oiddisha India 534281",743566,12-08-2002,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,876|678|3469,Female,"343 City Parkway, Rajputh india",234567,08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567
1025,Toby,Flenderson,nshd_47@outlook.com,304-762-2467,Female,"214 HR Avenue,California,US",$1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985
1026,Ron,null,jshd_ddh_776@outlook.com,123-545-5421,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,21_ 08_2002,No,FALSE,Ron,Us,New Jersey,New Jersey,No,1000,85000
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,123/643/9775,null,"121 Paper Avenue,Rajisthan India 536271",567433,4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433
1028,Clark,Kent,null,7066950392,Male,"3498 Super Lane,California,us",null,null,null,TRUE,Clark Kent,Us,California,California,null,null,null
1029,Creed,null,jshd_776@outlook.com,null,Male,null,332212,4-21 2020,Yes,TRUE,Creed,null,null,null,null,null,null
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,876|678|3469,Female,"910 Tatooine Road,New Jersey,us",$4761,4/21-2021,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,876|678|3469,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,4 21-2022,No,TRUE,Anakin Skya,Us,Tatooine,Tatooine,Yes,1111,94435

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)
 |-- state_clean1: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Paying_coustomer_status: string (nullable = true)
 |-- Amount_dollars: long (nullable = true)
 |-- Amount_RS: long (nullable = true)

###Phone number column handeling

In [0]:

df=df.withColumn('Phone_number',regexp_replace(col('Phone_number'),r'[^0-9]',''))
df= (df.withColumn('Phone_number',when((col('Phone_number').rlike('[0-9]')) & 
                                      (length(col('Phone_number'))==10),col('Phone_number'))
                                        .otherwise(lit(None))))
df= (df.withColumn('Phone_number',when(col('Country')=='India',
                                        concat(lit('+91 '),col('Phone_number')[0:5],lit(' '),col('Phone_number')[5:5]))
                                 .when(col('Country')=='Us',
                                concat(lit('+1-'),col('Phone_number')[0:3],lit('-'),col('Phone_number')[3:3],lit('-'),col('Phone_number')[6:4]))#[index,how much length we need]
                                .otherwise(None))
                                            )
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country,state_clean1,State,Paying_coustomer_status,Amount_dollars,Amount_RS
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,+1-123-354-5542,Female,"123 Shire Lane, Shire,us",$2003,03/30/1910,No,TRUE,Frodo Baggins,Us,Shire,Shire,Yes,2003,170255
1002,Abed,Nadir,abc_34jsjsh@gmail.com,+91 12364 43977,Male,"93 West Main Street,west bengal,India",330300,03/30/1911,Yes,FALSE,Abed Nadir,India,West Bengal,West Bengal,No,3886,330300
1003,Walter,White,NASc_34@gmail.com,+91 70669 95039,Female,"298 Drugs Driveway,chennia,India",436300,03/23-1912,null,TRUE,Walter White,India,Chennia,Chennia,No,5133,436300
1004,Dwight,Schrute,SHSYbc_34@gmail.com,+1-123-354-3234,Male,"980 Paper Avenue, Pennsylvania,US 18503",$3802,02-20-1913,Yes,TRUE,Dwight Schrute,Us,Pennsylvania,Pennsylvania,Yes,3802,323170
1005,Jon,Snow,abc_34@gmail.com,+91 87667 78346,Male,"123 Dragons Road, maharasthara,India",566890,03 30 1914,No,TRUE,Jon Snow,India,Maharasthara,Maharasthara,Yes,6670,566890
1006,Ron,Swanson,abSNJSc_34@gmail.com,+1-304-476-2246,Female,"768 City Parkway, Hawaii,US",$3802,03/30/1915,Yes,TRUE,Ron Swanson,Us,Hawaii,Hawaii,Yes,3802,323170
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",$3803,06-12-2002,No,FALSE,Jeff Winger,Us,Candya,Candya,No,3803,323255
1008,Sherlock,Holmes,null,+1-876-667-8346,null,"98 Clue Drive,New York ,US",$3804,07-12-2002,No,FALSE,Sherlock Holmes,Us,New York,New York,No,3804,323340
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$3805,08-12-2002,null,FALSE,Gandalf,Us,Us,null,Yes,3805,323425
1010,Peter,Parker,abc_3433@yahoo.com,+1-123-354-5542,Female,"25th Main Street, New York,US 18503",$3806,09-12 2002,No,TRUE,Peter Parker,Us,New York,New York,Yes,3806,323510
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595
1012,Harry,Potter,ASDabc_34@yahoo.com,+1-706-669-5039,null,"2394 Hogwarts Avenue,California,us",$2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720
1013,Don,Draper,abc_344dde@yahoo.com,+91 12354 43234,Male,"2039 Main Street, Oiddisha India",743566,12-08-2002,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,+91 87667 78346,Female,"343 City Parkway, Rajputh india 534281",234567,08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567
1015,Toby,Flenderson,nshd_47@outlook.com,+1-304-476-2246,Female,"214 HR Avenue,California,US 18590",$1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985
1016,Ron,Weasley,jshd_ddh_776@outlook.com,+1-123-354-5542,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,21_ 08_2002,No,FALSE,Ron Weasley,Us,New Jersey,New Jersey,No,1000,85000
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,+91 12364 43977,null,"121 Paper Avenue,Rajisthan India",567433,4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433
1018,Clark,Kent,jm.mska_776@outlook.com,+1-706-669-5039,Male,"3498 Super Lane,California,us",$2311,4-21-2019,null,TRUE,Clark Kent,Us,California,California,Yes,2311,196435
1019,Creed,Braton,null,null,Male,null,332212,4-21 2020,Yes,TRUE,Creed Braton,null,null,null,null,null,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,+1-876-667-8346,Female,"910 Tatooine Road,New Jersey,us",$4761,4/21-2021,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,+1-876-667-8346,Male,"910 Tatooine Road, Tatooine,us",$1111,4 21-2022,No,TRUE,Anakin walkerni,Us,Tatooine,Tatooine,Yes,1111,94435
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$3807,10-12-2002,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595
1022,Harry,Potter,ASDabc_34@yahoo.com,+1-706-669-5039,null,"2394 Hogwarts Avenue,California,us",$2232,11 12-2002,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720
1023,Don,Draper,null,+91 12354 43234,Male,"2039 Main Street, Oiddisha India 534281",743566,12-08-2002,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,+91 87667 78346,Female,"343 City Parkway, Rajputh india",234567,08 08-2002,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567
1025,Toby,Flenderson,nshd_47@outlook.com,+1-304-476-2246,Female,"214 HR Avenue,California,US",$1941,10-08-2002,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985
1026,Ron,null,jshd_ddh_776@outlook.com,+1-123-354-5542,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,21_ 08_2002,No,FALSE,Ron,Us,New Jersey,New Jersey,No,1000,85000
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,+91 12364 43977,null,"121 Paper Avenue,Rajisthan India 536271",567433,4-21-2018,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433
1028,Clark,Kent,null,+1-706-669-5039,Male,"3498 Super Lane,California,us",null,null,null,TRUE,Clark Kent,Us,California,California,null,null,null
1029,Creed,null,jshd_776@outlook.com,null,Male,null,332212,4-21 2020,Yes,TRUE,Creed,null,null,null,null,null,null
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,+1-876-667-8346,Female,"910 Tatooine Road,New Jersey,us",$4761,4/21-2021,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,+1-876-667-8346,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,4 21-2022,No,TRUE,Anakin Skya,Us,Tatooine,Tatooine,Yes,1111,94435

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paid_date: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)
 |-- state_clean1: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Paying_coustomer_status: string (nullable = true)
 |-- Amount_dollars: long (nullable = true)
 |-- Amount_RS: long (nullable = true)

###Paid_date column cleanup

In [0]:
df=df.withColumn('Paid_date',regexp_replace(col('Paid_date'),r'[\s-]','/'))
df=df.withColumn('Paid_date',when((col('Paid_date').isNotNull()) & (col('Paid_date').rlike(r"\d{1,2}/\d{1,2}/\d{4}")),
                                    try_to_date(col('Paid_date'),'M/d/yyyy'))
                                    .otherwise(lit(None))
                                 )
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country,state_clean1,State,Paying_coustomer_status,Amount_dollars,Amount_RS
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,+1-123-354-5542,Female,"123 Shire Lane, Shire,us",$2003,1910-03-30,No,TRUE,Frodo Baggins,Us,Shire,Shire,Yes,2003,170255
1002,Abed,Nadir,abc_34jsjsh@gmail.com,+91 12364 43977,Male,"93 West Main Street,west bengal,India",330300,1911-03-30,Yes,FALSE,Abed Nadir,India,West Bengal,West Bengal,No,3886,330300
1003,Walter,White,NASc_34@gmail.com,+91 70669 95039,Female,"298 Drugs Driveway,chennia,India",436300,1912-03-23,null,TRUE,Walter White,India,Chennia,Chennia,No,5133,436300
1004,Dwight,Schrute,SHSYbc_34@gmail.com,+1-123-354-3234,Male,"980 Paper Avenue, Pennsylvania,US 18503",$3802,1913-02-20,Yes,TRUE,Dwight Schrute,Us,Pennsylvania,Pennsylvania,Yes,3802,323170
1005,Jon,Snow,abc_34@gmail.com,+91 87667 78346,Male,"123 Dragons Road, maharasthara,India",566890,1914-03-30,No,TRUE,Jon Snow,India,Maharasthara,Maharasthara,Yes,6670,566890
1006,Ron,Swanson,abSNJSc_34@gmail.com,+1-304-476-2246,Female,"768 City Parkway, Hawaii,US",$3802,1915-03-30,Yes,TRUE,Ron Swanson,Us,Hawaii,Hawaii,Yes,3802,323170
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",$3803,2002-06-12,No,FALSE,Jeff Winger,Us,Candya,Candya,No,3803,323255
1008,Sherlock,Holmes,null,+1-876-667-8346,null,"98 Clue Drive,New York ,US",$3804,2002-07-12,No,FALSE,Sherlock Holmes,Us,New York,New York,No,3804,323340
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$3805,2002-08-12,null,FALSE,Gandalf,Us,Us,null,Yes,3805,323425
1010,Peter,Parker,abc_3433@yahoo.com,+1-123-354-5542,Female,"25th Main Street, New York,US 18503",$3806,2002-09-12,No,TRUE,Peter Parker,Us,New York,New York,Yes,3806,323510
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$3807,2002-10-12,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595
1012,Harry,Potter,ASDabc_34@yahoo.com,+1-706-669-5039,null,"2394 Hogwarts Avenue,California,us",$2232,2002-11-12,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720
1013,Don,Draper,abc_344dde@yahoo.com,+91 12354 43234,Male,"2039 Main Street, Oiddisha India",743566,2002-12-08,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,+91 87667 78346,Female,"343 City Parkway, Rajputh india 534281",234567,2002-08-08,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567
1015,Toby,Flenderson,nshd_47@outlook.com,+1-304-476-2246,Female,"214 HR Avenue,California,US 18590",$1941,2002-10-08,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985
1016,Ron,Weasley,jshd_ddh_776@outlook.com,+1-123-354-5542,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,null,No,FALSE,Ron Weasley,Us,New Jersey,New Jersey,No,1000,85000
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,+91 12364 43977,null,"121 Paper Avenue,Rajisthan India",567433,2018-04-21,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433
1018,Clark,Kent,jm.mska_776@outlook.com,+1-706-669-5039,Male,"3498 Super Lane,California,us",$2311,2019-04-21,null,TRUE,Clark Kent,Us,California,California,Yes,2311,196435
1019,Creed,Braton,null,null,Male,null,332212,2020-04-21,Yes,TRUE,Creed Braton,null,null,null,null,null,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,+1-876-667-8346,Female,"910 Tatooine Road,New Jersey,us",$4761,2021-04-21,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,+1-876-667-8346,Male,"910 Tatooine Road, Tatooine,us",$1111,2022-04-21,No,TRUE,Anakin walkerni,Us,Tatooine,Tatooine,Yes,1111,94435
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$3807,2002-10-12,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595
1022,Harry,Potter,ASDabc_34@yahoo.com,+1-706-669-5039,null,"2394 Hogwarts Avenue,California,us",$2232,2002-11-12,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720
1023,Don,Draper,null,+91 12354 43234,Male,"2039 Main Street, Oiddisha India 534281",743566,2002-12-08,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,+91 87667 78346,Female,"343 City Parkway, Rajputh india",234567,2002-08-08,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567
1025,Toby,Flenderson,nshd_47@outlook.com,+1-304-476-2246,Female,"214 HR Avenue,California,US",$1941,2002-10-08,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985
1026,Ron,null,jshd_ddh_776@outlook.com,+1-123-354-5542,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,null,No,FALSE,Ron,Us,New Jersey,New Jersey,No,1000,85000
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,+91 12364 43977,null,"121 Paper Avenue,Rajisthan India 536271",567433,2018-04-21,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433
1028,Clark,Kent,null,+1-706-669-5039,Male,"3498 Super Lane,California,us",null,null,null,TRUE,Clark Kent,Us,California,California,null,null,null
1029,Creed,null,jshd_776@outlook.com,null,Male,null,332212,2020-04-21,Yes,TRUE,Creed,null,null,null,null,null,null
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,+1-876-667-8346,Female,"910 Tatooine Road,New Jersey,us",$4761,2021-04-21,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,+1-876-667-8346,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,2022-04-21,No,TRUE,Anakin Skya,Us,Tatooine,Tatooine,Yes,1111,94435

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paid_date: date (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)
 |-- state_clean1: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Paying_coustomer_status: string (nullable = true)
 |-- Amount_dollars: long (nullable = true)
 |-- Amount_RS: long (nullable = true)

#### Gmail domain column

In [0]:
df=df.withColumn('Eamil_domain',split(split(col('Email'),'@')[1],'\\.')[0])
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Email,Phone_number,Gender,Address,Amount,Paid_date,Do_not_contact,Not_useful_column,Full_name,Country,state_clean1,State,Paying_coustomer_status,Amount_dollars,Amount_RS,Eamil_domain
1001,Frodo,Baggins,abc_34SHGDG@gmail.com,+1-123-354-5542,Female,"123 Shire Lane, Shire,us",$2003,1910-03-30,No,TRUE,Frodo Baggins,Us,Shire,Shire,Yes,2003,170255,gmail
1002,Abed,Nadir,abc_34jsjsh@gmail.com,+91 12364 43977,Male,"93 West Main Street,west bengal,India",330300,1911-03-30,Yes,FALSE,Abed Nadir,India,West Bengal,West Bengal,No,3886,330300,gmail
1003,Walter,White,NASc_34@gmail.com,+91 70669 95039,Female,"298 Drugs Driveway,chennia,India",436300,1912-03-23,null,TRUE,Walter White,India,Chennia,Chennia,No,5133,436300,gmail
1004,Dwight,Schrute,SHSYbc_34@gmail.com,+1-123-354-3234,Male,"980 Paper Avenue, Pennsylvania,US 18503",$3802,1913-02-20,Yes,TRUE,Dwight Schrute,Us,Pennsylvania,Pennsylvania,Yes,3802,323170,gmail
1005,Jon,Snow,abc_34@gmail.com,+91 87667 78346,Male,"123 Dragons Road, maharasthara,India",566890,1914-03-30,No,TRUE,Jon Snow,India,Maharasthara,Maharasthara,Yes,6670,566890,gmail
1006,Ron,Swanson,abSNJSc_34@gmail.com,+1-304-476-2246,Female,"768 City Parkway, Hawaii,US",$3802,1915-03-30,Yes,TRUE,Ron Swanson,Us,Hawaii,Hawaii,Yes,3802,323170,gmail
1007,Jeff,Winger,abc_34_TRTR@gmail.com,null,Male,"1209 South Street,Candya,US",$3803,2002-06-12,No,FALSE,Jeff Winger,Us,Candya,Candya,No,3803,323255,gmail
1008,Sherlock,Holmes,null,+1-876-667-8346,null,"98 Clue Drive,New York ,US",$3804,2002-07-12,No,FALSE,Sherlock Holmes,Us,New York,New York,No,3804,323340,null
1009,Gandalf,null,abc_34@yahoo.com,null,Female,"123 Middle Earth, US",$3805,2002-08-12,null,FALSE,Gandalf,Us,Us,null,Yes,3805,323425,yahoo
1010,Peter,Parker,abc_3433@yahoo.com,+1-123-354-5542,Female,"25th Main Street, New York,US 18503",$3806,2002-09-12,No,TRUE,Peter Parker,Us,New York,New York,Yes,3806,323510,yahoo
1011,Samwise,Gamgee,abc_34gdtd@yahoo.com,null,Male,"612 Shire Lane, Shire, US",$3807,2002-10-12,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595,yahoo
1012,Harry,Potter,ASDabc_34@yahoo.com,+1-706-669-5039,null,"2394 Hogwarts Avenue,California,us",$2232,2002-11-12,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720,yahoo
1013,Don,Draper,abc_344dde@yahoo.com,+91 12354 43234,Male,"2039 Main Street, Oiddisha India",743566,2002-12-08,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566,yahoo
1014,Leslie,Knope,hduf.hdyo_475@outlook.com,+91 87667 78346,Female,"343 City Parkway, Rajputh india 534281",234567,2002-08-08,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567,outlook
1015,Toby,Flenderson,nshd_47@outlook.com,+1-304-476-2246,Female,"214 HR Avenue,California,US 18590",$1941,2002-10-08,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985,outlook
1016,Ron,Weasley,jshd_ddh_776@outlook.com,+1-123-354-5542,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,null,No,FALSE,Ron Weasley,Us,New Jersey,New Jersey,No,1000,85000,outlook
1017,Michael,Scott,jhfbg_cxs.76@outlook.com,+91 12364 43977,null,"121 Paper Avenue,Rajisthan India",567433,2018-04-21,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433,outlook
1018,Clark,Kent,jm.mska_776@outlook.com,+1-706-669-5039,Male,"3498 Super Lane,California,us",$2311,2019-04-21,null,TRUE,Clark Kent,Us,California,California,Yes,2311,196435,outlook
1019,Creed,Braton,null,null,Male,null,332212,2020-04-21,Yes,TRUE,Creed Braton,null,null,null,null,null,null,null
1020,Anakin,Skywalker,jshd_ddh_776@outlook.com,+1-876-667-8346,Female,"910 Tatooine Road,New Jersey,us",$4761,2021-04-21,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685,outlook
1020,Anakin,walkerni,jshd_Ssa_776@outlook.com,+1-876-667-8346,Male,"910 Tatooine Road, Tatooine,us",$1111,2022-04-21,No,TRUE,Anakin walkerni,Us,Tatooine,Tatooine,Yes,1111,94435,outlook
1021,Samwise,Gamgee,null,null,Male,"612 Shire Lane, Shire, US",$3807,2002-10-12,No,TRUE,Samwise Gamgee,Us,Shire,Shire,Yes,3807,323595,null
1022,Harry,Potter,ASDabc_34@yahoo.com,+1-706-669-5039,null,"2394 Hogwarts Avenue,California,us",$2232,2002-11-12,null,TRUE,Harry Potter,Us,California,California,Yes,2232,189720,yahoo
1023,Don,Draper,null,+91 12354 43234,Male,"2039 Main Street, Oiddisha India 534281",743566,2002-12-08,No,FALSE,Don Draper,India,Oiddisha,Oiddisha,Yes,8748,743566,null
1024,Leslie,Knope,hduf.hdyo_475@outlook.com,+91 87667 78346,Female,"343 City Parkway, Rajputh india",234567,2002-08-08,No,FALSE,Leslie Knope,India,Rajputh,Rajputh,Yes,2760,234567,outlook
1025,Toby,Flenderson,nshd_47@outlook.com,+1-304-476-2246,Female,"214 HR Avenue,California,US",$1941,2002-10-08,No,FALSE,Toby Flenderson,Us,California,California,No,1941,164985,outlook
1026,Ron,null,jshd_ddh_776@outlook.com,+1-123-354-5542,Male,"2395 Hogwarts Avenue,New Jersey, us",$1000,null,No,FALSE,Ron,Us,New Jersey,New Jersey,No,1000,85000,outlook
1027,Michael,Scott,jhfbg_cxs.76@outlook.com,+91 12364 43977,null,"121 Paper Avenue,Rajisthan India 536271",567433,2018-04-21,No,FALSE,Michael Scott,India,Rajisthan,Rajisthan,Yes,6676,567433,outlook
1028,Clark,Kent,null,+1-706-669-5039,Male,"3498 Super Lane,California,us",null,null,null,TRUE,Clark Kent,Us,California,California,null,null,null,null
1029,Creed,null,jshd_776@outlook.com,null,Male,null,332212,2020-04-21,Yes,TRUE,Creed,null,null,null,null,null,null,outlook
1030,Anakin,Skywalker,jshd_ddh_776@outlook.com,+1-876-667-8346,Female,"910 Tatooine Road,New Jersey,us",$4761,2021-04-21,No,TRUE,Anakin Skywalker,Us,New Jersey,New Jersey,Yes,4761,404685,outlook
1031,Anakin,Skya,jshd_Ssa_776@outlook.com,+1-876-667-8346,Male,"910 Tatooine Road, Tatooine,us 18623",$1111,2022-04-21,No,TRUE,Anakin Skya,Us,Tatooine,Tatooine,Yes,1111,94435,outlook

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Paid_date: date (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Not_useful_column: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Country: string (nullable = true)
 |-- state_clean1: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Paying_coustomer_status: string (nullable = true)
 |-- Amount_dollars: long (nullable = true)
 |-- Amount_RS: long (nullable = true)
 |-- Eamil_domain: string (nullable = true)

#Drop unnecessary columns

In [0]:
df = df.drop(
    'Not_useful_column',
    'state_clean1'
)

df = df.select(
    col("Customer_id"),
    col("First_name"),
    col("Last_name"),
    col("Full_name"),
    col("Gender"),
    col("Address"),
    col("Country"),
    col("State"),
    col("Phone_number"),
    col("Amount"),
    col("Amount_dollars"),
    col("Amount_RS"),
    col("Paid_date"),
    col("Paying_coustomer_status"),
    col("Do_not_contact"),
    col("Email"),
    col("Eamil_domain")
)
display(df)
df.printSchema()

Customer_id,First_name,Last_name,Full_name,Gender,Address,Country,State,Phone_number,Amount,Amount_dollars,Amount_RS,Paid_date,Paying_coustomer_status,Do_not_contact,Email,Eamil_domain
1001,Frodo,Baggins,Frodo Baggins,Female,"123 Shire Lane, Shire,us",Us,Shire,+1-123-354-5542,$2003,2003,170255,1910-03-30,Yes,No,abc_34SHGDG@gmail.com,gmail
1002,Abed,Nadir,Abed Nadir,Male,"93 West Main Street,west bengal,India",India,West Bengal,+91 12364 43977,330300,3886,330300,1911-03-30,No,Yes,abc_34jsjsh@gmail.com,gmail
1003,Walter,White,Walter White,Female,"298 Drugs Driveway,chennia,India",India,Chennia,+91 70669 95039,436300,5133,436300,1912-03-23,No,null,NASc_34@gmail.com,gmail
1004,Dwight,Schrute,Dwight Schrute,Male,"980 Paper Avenue, Pennsylvania,US 18503",Us,Pennsylvania,+1-123-354-3234,$3802,3802,323170,1913-02-20,Yes,Yes,SHSYbc_34@gmail.com,gmail
1005,Jon,Snow,Jon Snow,Male,"123 Dragons Road, maharasthara,India",India,Maharasthara,+91 87667 78346,566890,6670,566890,1914-03-30,Yes,No,abc_34@gmail.com,gmail
1006,Ron,Swanson,Ron Swanson,Female,"768 City Parkway, Hawaii,US",Us,Hawaii,+1-304-476-2246,$3802,3802,323170,1915-03-30,Yes,Yes,abSNJSc_34@gmail.com,gmail
1007,Jeff,Winger,Jeff Winger,Male,"1209 South Street,Candya,US",Us,Candya,null,$3803,3803,323255,2002-06-12,No,No,abc_34_TRTR@gmail.com,gmail
1008,Sherlock,Holmes,Sherlock Holmes,null,"98 Clue Drive,New York ,US",Us,New York,+1-876-667-8346,$3804,3804,323340,2002-07-12,No,No,null,null
1009,Gandalf,null,Gandalf,Female,"123 Middle Earth, US",Us,null,null,$3805,3805,323425,2002-08-12,Yes,null,abc_34@yahoo.com,yahoo
1010,Peter,Parker,Peter Parker,Female,"25th Main Street, New York,US 18503",Us,New York,+1-123-354-5542,$3806,3806,323510,2002-09-12,Yes,No,abc_3433@yahoo.com,yahoo
1011,Samwise,Gamgee,Samwise Gamgee,Male,"612 Shire Lane, Shire, US",Us,Shire,null,$3807,3807,323595,2002-10-12,Yes,No,abc_34gdtd@yahoo.com,yahoo
1012,Harry,Potter,Harry Potter,null,"2394 Hogwarts Avenue,California,us",Us,California,+1-706-669-5039,$2232,2232,189720,2002-11-12,Yes,null,ASDabc_34@yahoo.com,yahoo
1013,Don,Draper,Don Draper,Male,"2039 Main Street, Oiddisha India",India,Oiddisha,+91 12354 43234,743566,8748,743566,2002-12-08,Yes,No,abc_344dde@yahoo.com,yahoo
1014,Leslie,Knope,Leslie Knope,Female,"343 City Parkway, Rajputh india 534281",India,Rajputh,+91 87667 78346,234567,2760,234567,2002-08-08,Yes,No,hduf.hdyo_475@outlook.com,outlook
1015,Toby,Flenderson,Toby Flenderson,Female,"214 HR Avenue,California,US 18590",Us,California,+1-304-476-2246,$1941,1941,164985,2002-10-08,No,No,nshd_47@outlook.com,outlook
1016,Ron,Weasley,Ron Weasley,Male,"2395 Hogwarts Avenue,New Jersey, us",Us,New Jersey,+1-123-354-5542,$1000,1000,85000,null,No,No,jshd_ddh_776@outlook.com,outlook
1017,Michael,Scott,Michael Scott,null,"121 Paper Avenue,Rajisthan India",India,Rajisthan,+91 12364 43977,567433,6676,567433,2018-04-21,Yes,No,jhfbg_cxs.76@outlook.com,outlook
1018,Clark,Kent,Clark Kent,Male,"3498 Super Lane,California,us",Us,California,+1-706-669-5039,$2311,2311,196435,2019-04-21,Yes,null,jm.mska_776@outlook.com,outlook
1019,Creed,Braton,Creed Braton,Male,null,null,null,null,332212,null,null,2020-04-21,null,Yes,null,null
1020,Anakin,Skywalker,Anakin Skywalker,Female,"910 Tatooine Road,New Jersey,us",Us,New Jersey,+1-876-667-8346,$4761,4761,404685,2021-04-21,Yes,No,jshd_ddh_776@outlook.com,outlook
1020,Anakin,walkerni,Anakin walkerni,Male,"910 Tatooine Road, Tatooine,us",Us,Tatooine,+1-876-667-8346,$1111,1111,94435,2022-04-21,Yes,No,jshd_Ssa_776@outlook.com,outlook
1021,Samwise,Gamgee,Samwise Gamgee,Male,"612 Shire Lane, Shire, US",Us,Shire,null,$3807,3807,323595,2002-10-12,Yes,No,null,null
1022,Harry,Potter,Harry Potter,null,"2394 Hogwarts Avenue,California,us",Us,California,+1-706-669-5039,$2232,2232,189720,2002-11-12,Yes,null,ASDabc_34@yahoo.com,yahoo
1023,Don,Draper,Don Draper,Male,"2039 Main Street, Oiddisha India 534281",India,Oiddisha,+91 12354 43234,743566,8748,743566,2002-12-08,Yes,No,null,null
1024,Leslie,Knope,Leslie Knope,Female,"343 City Parkway, Rajputh india",India,Rajputh,+91 87667 78346,234567,2760,234567,2002-08-08,Yes,No,hduf.hdyo_475@outlook.com,outlook
1025,Toby,Flenderson,Toby Flenderson,Female,"214 HR Avenue,California,US",Us,California,+1-304-476-2246,$1941,1941,164985,2002-10-08,No,No,nshd_47@outlook.com,outlook
1026,Ron,null,Ron,Male,"2395 Hogwarts Avenue,New Jersey, us",Us,New Jersey,+1-123-354-5542,$1000,1000,85000,null,No,No,jshd_ddh_776@outlook.com,outlook
1027,Michael,Scott,Michael Scott,null,"121 Paper Avenue,Rajisthan India 536271",India,Rajisthan,+91 12364 43977,567433,6676,567433,2018-04-21,Yes,No,jhfbg_cxs.76@outlook.com,outlook
1028,Clark,Kent,Clark Kent,Male,"3498 Super Lane,California,us",Us,California,+1-706-669-5039,null,null,null,null,null,null,null,null
1029,Creed,null,Creed,Male,null,null,null,null,332212,null,null,2020-04-21,null,Yes,jshd_776@outlook.com,outlook
1030,Anakin,Skywalker,Anakin Skywalker,Female,"910 Tatooine Road,New Jersey,us",Us,New Jersey,+1-876-667-8346,$4761,4761,404685,2021-04-21,Yes,No,jshd_ddh_776@outlook.com,outlook
1031,Anakin,Skya,Anakin Skya,Male,"910 Tatooine Road, Tatooine,us 18623",Us,Tatooine,+1-876-667-8346,$1111,1111,94435,2022-04-21,Yes,No,jshd_Ssa_776@outlook.com,outlook

root
 |-- Customer_id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Full_name: string (nullable = false)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Phone_number: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Amount_dollars: long (nullable = true)
 |-- Amount_RS: long (nullable = true)
 |-- Paid_date: date (nullable = true)
 |-- Paying_coustomer_status: string (nullable = true)
 |-- Do_not_contact: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Eamil_domain: string (nullable = true)

In [0]:
display(df.describe())

summary,Customer_id,First_name,Last_name,Full_name,Gender,Address,Country,State,Phone_number,Amount,Amount_dollars,Amount_RS,Paying_coustomer_status,Do_not_contact,Email,Eamil_domain
count,32,32,29,32,27,30,30,29,26,31,29,29,29,26,27,27
mean,1016.125,null,null,null,null,null,null,null,null,462640.54545454547,3755.0689655172414,319173.1724137931,null,null,null,null
stddev,8.972179222463181,null,null,null,null,null,null,null,null,186261.9734064705,2128.866363836371,180946.68006034836,null,null,null,null
min,1001,Abed,Baggins,Abed Nadir,Female,"1209 South Street,Candya,US",India,Hawaii,+1-123-354-3234,$1000,1000,85000,No,No,ASDabc_34@yahoo.com,gmail
max,1031,Walter,walkerni,Walter White,Male,"980 Paper Avenue, Pennsylvania,US 18503",Us,West Bengal,+91 87667 78346,743566,8748,743566,Yes,Yes,nshd_47@outlook.com,yahoo

In [0]:

#get records with atlest one Null values in the entire dataset
df_filtered=df.filter(" OR ".join([f"`{c}` IS NULL" for c in df.columns]))

display(df_filtered)

Customer_id,First_name,Last_name,Full_name,Gender,Address,Country,State,Phone_number,Amount,Amount_dollars,Amount_RS,Paid_date,Paying_coustomer_status,Do_not_contact,Email,Eamil_domain
1003,Walter,White,Walter White,Female,"298 Drugs Driveway,chennia,India",India,Chennia,+91 70669 95039,436300,5133,436300,1912-03-23,No,null,NASc_34@gmail.com,gmail
1007,Jeff,Winger,Jeff Winger,Male,"1209 South Street,Candya,US",Us,Candya,null,$3803,3803,323255,2002-06-12,No,No,abc_34_TRTR@gmail.com,gmail
1008,Sherlock,Holmes,Sherlock Holmes,null,"98 Clue Drive,New York ,US",Us,New York,+1-876-667-8346,$3804,3804,323340,2002-07-12,No,No,null,null
1009,Gandalf,null,Gandalf,Female,"123 Middle Earth, US",Us,null,null,$3805,3805,323425,2002-08-12,Yes,null,abc_34@yahoo.com,yahoo
1011,Samwise,Gamgee,Samwise Gamgee,Male,"612 Shire Lane, Shire, US",Us,Shire,null,$3807,3807,323595,2002-10-12,Yes,No,abc_34gdtd@yahoo.com,yahoo
1012,Harry,Potter,Harry Potter,null,"2394 Hogwarts Avenue,California,us",Us,California,+1-706-669-5039,$2232,2232,189720,2002-11-12,Yes,null,ASDabc_34@yahoo.com,yahoo
1016,Ron,Weasley,Ron Weasley,Male,"2395 Hogwarts Avenue,New Jersey, us",Us,New Jersey,+1-123-354-5542,$1000,1000,85000,null,No,No,jshd_ddh_776@outlook.com,outlook
1017,Michael,Scott,Michael Scott,null,"121 Paper Avenue,Rajisthan India",India,Rajisthan,+91 12364 43977,567433,6676,567433,2018-04-21,Yes,No,jhfbg_cxs.76@outlook.com,outlook
1018,Clark,Kent,Clark Kent,Male,"3498 Super Lane,California,us",Us,California,+1-706-669-5039,$2311,2311,196435,2019-04-21,Yes,null,jm.mska_776@outlook.com,outlook
1019,Creed,Braton,Creed Braton,Male,null,null,null,null,332212,null,null,2020-04-21,null,Yes,null,null
1021,Samwise,Gamgee,Samwise Gamgee,Male,"612 Shire Lane, Shire, US",Us,Shire,null,$3807,3807,323595,2002-10-12,Yes,No,null,null
1022,Harry,Potter,Harry Potter,null,"2394 Hogwarts Avenue,California,us",Us,California,+1-706-669-5039,$2232,2232,189720,2002-11-12,Yes,null,ASDabc_34@yahoo.com,yahoo
1023,Don,Draper,Don Draper,Male,"2039 Main Street, Oiddisha India 534281",India,Oiddisha,+91 12354 43234,743566,8748,743566,2002-12-08,Yes,No,null,null
1026,Ron,null,Ron,Male,"2395 Hogwarts Avenue,New Jersey, us",Us,New Jersey,+1-123-354-5542,$1000,1000,85000,null,No,No,jshd_ddh_776@outlook.com,outlook
1027,Michael,Scott,Michael Scott,null,"121 Paper Avenue,Rajisthan India 536271",India,Rajisthan,+91 12364 43977,567433,6676,567433,2018-04-21,Yes,No,jhfbg_cxs.76@outlook.com,outlook
1028,Clark,Kent,Clark Kent,Male,"3498 Super Lane,California,us",Us,California,+1-706-669-5039,null,null,null,null,null,null,null,null
1029,Creed,null,Creed,Male,null,null,null,null,332212,null,null,2020-04-21,null,Yes,jshd_776@outlook.com,outlook

In [0]:
df.write.mode("overwrite").format("csv").option("header", True).save("Volumes/databricks_catalog/default/default_volume1/cleaned_data/Customer_Call_List_data")